{% extends twig_global.getParameter('extended_layout') ? twig_global.getParameter('extended_layout') : 'CoreBundle:Base:base.layout.html.twig' %}


{% block body_class %}{{parent()}} blog {% endblock %}

{% block content_header %}
    {% include 'BlogBundle:Blog/Block:menu.blog.html.twig' %}
{% endblock %}

{% block content %}
    
<div class="container-blog">
    <div class="col-md-8 post-list" id="post-list">
        <h1>{{ 'blog.last.post' | trans }}</h1>
        {{ blog_list(2) }}
    </div>
    <div class="col-md-4 post-sidebar">
        {% include 'BlogBundle:Blog:sidebar.html.twig'%}
    </div>
</div>
    
     
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'BlogBundle:Blog/Block:_blog.js.twig'%}
{% endblock %}




