{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}


{% block body_class %}{{parent()}} blog {% endblock %}

{% block content_header %}
    {% include 'BlogBundle:Blog/Block:menu.blog.html.twig' %}
{% endblock %}

{% block content %}
    
<div class="container container-blog">
    <div class="row core-row blog">
        <div class="col-md-8 post-list" id="post-list">
            <h1>{{ 'blog.last.post' | trans }}</h1>
            {{ blog_list() }}
        </div>
        <div class="col-md-4 post-sidebar">
            {% include 'BlogBundle:Blog:sidebar.html.twig'%}
        </div>
    </div>
</div>
    
     
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
                            
    <script type="text/javascript">
        $(".blog-menu a.item").click(function (event) {   
           console.log($(this).attr('href')); 
           window.location.href = $(this).attr('href');
        });
    </script>
{% endblock %}
