{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}

{% block blog_menu %}
    {% include 'BlogBundle:Blog:menu.blog.html.twig' %}
{% endblock %}

{% block body_class %}{{parent()}} blog {% endblock %}
{% block content %}
    <div class="container-content">
        <div class="container">
            
            <div class="row core-row">
                {% block breadcrumb %}
                    <div class="col-md-6 col-xs-6 back">
                        <a href="#" onclick="window.history.go(-1); return false;">
                        <i class="ion-reply"></i><span>Volver</span>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <ol class="breadcrumb">
                            <li ><a href="/">Inicio</a></li>
                            <li><a href="{{ path('blog_blog_index') }}">{{ 'blog.singular' | trans | upper}}</a></li>
                        </ol>
                    </div>
                {% endblock %}
            </div> 
            
            <div class="row core-row ">
                <div id="mainContent" class="col-md-8 col-sm-8 col-xs-12">
                    {% if search is defined%}
                        <div class="search-results">
                            {% if posts|length > 0 %}
                                <h4>RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                            {% else %}
                                <h4>NO HAY RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="row post-list" id="post-list">
                        {% set position = 0 %}
                        {% for post in posts %}
                            {% set position = position + 1 %}
                            <div class="col-md-12 col-sm-12" data-position="{{position}}">
                                <article>
                                    <div class="post-content listing">
                                        {% if post.images|length > 0 %}
                                            {% set path = post.images.first.path %}
                                        {% else %}
                                            {% set path = '' %}
                                        {% endif %}
                                        <h3><a  href="{{path("blog_blog_show", {slug: post.slug})}}">{{ post.title }}</a></h3>
                                        <div class="date">POST <span>{{ post.published | date ('d')}}.{{ post.published | date ('m') | trans }}.{{ post.published | date ('y')}}</span> </div>
                                        {% if path != ''%}<img src="{{ path }}" />{% endif %}
                                        
                                        <p>{{ post.description | striptags | truncate(500, true, '...')  }}</p>

                                        <div class="read-more">
                                            <a  href="{{path("blog_blog_show", {slug: post.slug})}}" > [Leer Más] </a>
                                        </div>
                                    </div>
                                    {% if posts|length > 1%}
                                        <div class="post-footer col-md-12 col-sm-12 col-xs-12">
                                            {% include 'BlogBundle:Blog:post_footer.html.twig'%}
                                        </div>
                                    {% endif %}
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                    {% if total_items is defined and posts|length >  1 %}
                        <div class="row post-list">
                            <div class="col-md-12 col-sm-12 col-xs-12 more-post">
                                <div class="loading" style="display: none;">Cargando...<br></div>
                                <div class="view-more" >
                                    <button style="background-color: transparent" id="load-more"><a >VER MÁS POST</a></button>
                                </div>
                            </div> 
                        </div>
                    {% endif %}
                </div>
                <div id="sidebarContent" class="col-md-4 col-sm-4 col-xs-12 post-sidebar">
                    {% include 'BlogBundle:Blog:sidebar.html.twig'%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
                            
    <script type="text/javascript">
        {% if total_items is defined %}
            
         $(".blog-menu a.item").click(function (event) {   
            console.log($(this).attr('href')); 
            window.location.href = $(this).attr('href');
         });
            
        $("#load-more").click(function (event) {
            event.preventDefault();
            var position = parseInt($("#post-list>div:last-child").attr('data-position'));
            var total_items = parseInt({{ total_items }});

            console.log(position, total_items);
            $('.loading').show();

            $.ajax({
                method: "POST",
                url: "{{path('blog_index')}}",
                data: {
                    offset: position,
                    limit: 1
                }

            }).done(function (data) {
                $('#post-list').append(data);
                $('.loading').hide();
                $('html, body').scrollTop($(document).height());
                $("#load-more a").blur();
                //check if there are more news, if not, hide ver mas noticias
                var position = parseInt($("#post-list>div:last-child").attr('data-position'));
                if (total_items === position) {
                    $(".view-more").hide();
                }
            }).fail(function () {
                $('.loading').hide();
                alert('Problem!');
            });
        });
        {% endif %}
        $('.list > li a').click(function () {
            $(this).parent().find('ul').eq(0).slideToggle('slow');

            if ($('#' + $(this).attr('id') + " span.active").css('display') == 'inline-block') {
                $('#' + $(this).attr('id') + " span.active").css('display', 'none');
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'inline-block');
            } else {
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'none');
                $('#' + $(this).attr('id') + " span.active").css('display', 'inline-block');
            }
            
            setTimeout(function(){
                var sidebarHeight = $('#sidebarContent').height();
                var mainHeight = $('#mainContent').height();
                if(sidebarHeight > mainHeight) {
                    //console.log(sidebarHeight);
                    $('#mainContent').height(sidebarHeight-15);
                }
            }, 1000);
            
        });

        $('.share-content').each(function (index) {
            var dir = $(this).attr('data');
            if (dir != '') {
                //var url = dir.replace("http://", "");
                var self = $(this);
                $.ajax({
                    type: 'GET',
                    url: "/blog/share-counter?url=" + dir
                            //data: {'url': url}
                }).done(function (result) {
                    //console.log(result);
                    //console.log(self.find('.tweet-counter>span.share-container-counter').html());
                    self.find('.tweet-counter span.share-container-counter').text(result.tweet);
                    self.find('.facebook-counter span.share-container-counter').text(result.facebook);
                    self.find('.google-counter span.share-container-counter').text(result.google);
                    self.find('.linked-counter span.share-container-counter').text(result.linkedin);
                });
            }
        });
    </script>
{% endblock %}
