{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}


{% block body_class %}{{parent()}} blog {% endblock %}
{% block header %}
    {{parent()}}
    {% include 'BlogBundle:Blog/Block:menu.blog.html.twig' %}
    
{% endblock %}


{% block content %}
    <div class="container container-blog">
        <div class="row core-row blog">
            <h1>List Posts</h1>
            {% if category is defined %}
                <div>{% include 'BlogBundle:Blog/Block:carousel.blog.html.twig' %}</div>
            {% endif %}
            <div class="col-md-8 post-list" id="post-list">
                {% if search is defined%}
                    <div class="search-results">
                        {% if posts|length > 0 %}
                            <h4>RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                        {% else %}
                            <h4>NO HAY RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                        {% endif %}
                    </div>
                {% endif %}

                {{ blog_list() }}
            </div>
            <div class="col-md-4 post-sidebar">
                {% include 'BlogBundle:Blog:sidebar.html.twig'%}
            </div>
        </div>
    </div>
  </div>
{% endblock %}
   
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% set total_items = get_blog_total_items() %}
        {% if total_items is defined %}
            
            $(".blog-menu a.item").click(function (event) {   
               console.log($(this).attr('href')); 
               window.location.href = $(this).attr('href');
            });
            
            $("#load-more").click(function (event) {
                event.preventDefault();
                var total_items = parseInt({{ total_items }});
                $('.loading').show();
                $.ajax({
                    method: "POST",
                    url: "{{path('blog_blog_category', {'category': category.slug })}}",
                    data: {
                        offset: position,
                        limit: 2
                    }
                }).done(function (data) {
                    console.log(data);
                    $('.post-more').before(data);
                    $('.post-more').before('<div style="clear: both; padding: 0"> </div>');
                    $('.loading').hide();
                    $("#load-more a").blur();
                    //check if there are more news, if not, hide ver mas noticias
                    position = position + 2;
                    if (total_items === position) {
                        $(".pager").hide();
                    }
                }).fail(function () {
                    $('.loading').hide();
                    alert('Problem!');
                });
            });
        {% endif %}
       
    </script>
{% endblock %}




