{% extends twig_global.getParameter('extended_layout') ? twig_global.getParameter('extended_layout') : 'CoreBundle:Base:base.layout.html.twig' %}

{% block body_class %}{{parent()}} blog {% endblock %}
 
{% block content_header %}
    {% include 'BlogBundle:Blog/Block:menu.blog.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container container-blog">
        <div class="row core-row blog">
            <h1>List Posts</h1>
             
            <div class="col-md-8 post-list" id="post-list">
                {% if search is defined%}
                    <div class="search-results">
                        {% if posts|length > 0 %}
                            <h4>RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                        {% else %}
                            <h4>NO HAY RESULTADOS PARA LA BÚSQUEDA: <b>{{search}}</b></h4>
                        {% endif %}
                    </div>
                    
                    {% include 'BlogBundle:Blog/Block:_list.html.twig' with {posts : posts} %}
                {% else %}
                {# if category view #}
                {% if app.request.get('_route') == 'blog_blog_category' %}
                    {{ blog_list(2, category.id) }}
                {% elseif app.request.get('_route') == 'blog_blog_tag' %}
                    {{ blog_list(2, null, tag.id) }}
                {% else %}
                    {{ blog_list(2) }}
                {% endif  %}
                {% endif %}
            </div>
            <div class="col-md-4 post-sidebar">
                {% include 'BlogBundle:Blog:sidebar.html.twig'%}
            </div>
        </div>
    </div>
  </div>
{% endblock %}
   
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BlogBundle:Blog/Block:_blog.js.twig'%}
{% endblock %}




