{% extends twig_global.getParameter('extended_layout') ? twig_global.getParameter('extended_layout') : 'CoreBundle:Base:base.layout.html.twig' %}

{% block metas %}
    <title>{{ post.title }}</title>
    {% set path = '' %}
    {% if post.images|length > 0 %}
        {% set path = get_thumb_image(post.images.first.path, '260') %}
    {% endif %}
    {%if path != ''%}<meta property="og:image" content="{{core.server_base_url}}{{path}}"/><meta name="twitter:image" content="{{core.server_base_url}}{{path}}">{%endif%}
    <meta name="description" content="{{ post.description | striptags}}">
    <meta name="organization" content="core.com">
    <meta name="copyright" content="core.com">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="1 DAYS">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="Mon, 01 Jan 1990 00:00:01 GMT">
{% endblock %}
    

{% block content_header %}
    {% include 'BlogBundle:Blog/Block:menu.blog.html.twig' %}
{% endblock %}                        

{% block content %}
       
<div class="container-blog">
    <div class="col-md-8 post-list" id="post-list">
        <h1>{{ post.title }}</h1>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                {% for category in post.categories %}
                    <a href="{{ path('blog_blog_tag', {'tag': category.slug }) }}">{{ category.name }} ({{ category.posts | length }})</a>
                    {{ (not loop.last) ? ',' : ''}} 
                {% endfor %}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-bookmark"></span>
                {% for tag in post.tags %}
                    <a href="{{ path('blog_blog_tag', {'tag': tag.slug }) }}">{{ tag.name }} ({{ tag.posts | length }})</a>
                    {{ (not loop.last) ? ',' : ''}} 
                {% endfor %} 
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">{{post.comments | length}} Comments</a>			          		
                &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> 
                {{ post.published | date ('F') | trans }} {{ post.published | date ('d\, Y h:i A')}}
            </div>
        </div>
        <hr>
        {% set path = '' %}
        {% if post.images|length > 0 %}
            {% set path = post.images.first.path %}
        {% endif %}
        {% if path != ''%}
            <img src="{{path}}" class="img-responsive">
        {%else%}
            {#<img src="http://placehold.it/900x300" class="img-responsive">#}
        {% endif%}
        <div class="networks">
            <div class="share-content" data="{{app.request.uri}}" style="display: inline-block">
                {% if post.title is not defined %}
                    {{shareUrlBlog( app.request.uri, true , 'Blog Kundalini Woman')}}
                {% else%}
                    {{shareUrlBlog( app.request.uri, true , post.title)}}
                {% endif %}

            </div>
        </div>
        <br>
        <p class="lead">{{ post.shortDescription }}</p>
        {{ post.description | raw }}
        
        <hr>
        <ul class="pager">
            <li class="previous"><a href="{{ path('blog_blog_index')}}">← Back to posts</a></li>
        </ul>	

        <!-- Comment form -->
        <div class="well">
            <h4>{{ 'comment.leave' | trans }}</h4>
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
            {% include 'BlogBundle:Blog/Block:_form_comment.html.twig' %}			
        </div>
        <hr>
        <ul id="comments" class="comments">
            {% include "BlogBundle:Blog/Block:comments.html.twig" %}
        </ul>
        
        
    </div>
    <div class="col-md-4 post-sidebar">
        {% include 'BlogBundle:Blog:sidebar.html.twig'%}
    </div>
    
    <div style="clear: both"></div>
    {% if related | length %}
        <div class="col-md-12 col-xs-12 realted blog">
            <h3>Te puede interesar ...</h3>
            <div id="related" class="post-list">
                {% for post in related %}
                    {% if loop.index < 5 %}
                        <div class="col-md-3 col-xs-6" data-position="{{loop.index}}">
                        <article>
                            <div class="post-content list">
                                <a  href="{{path("blog_blog_show", {slug: post.slug})}}" >
                                    {% set path = 'http://placehold.it/260x123' %}
                                    {% if post.images|length > 0 %}
                                        {% set path = get_thumb_image(post.images.first.path, '260') %}
                                    {% endif %}
                                    {%if path != ''%}<img style="width: 100%" src="{{ path }}" />{%endif%}
                                    <p>{{ post.title }}</p>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
        
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/blog/less/blog.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
        $(".blog-menu a.item").click(function (event) {   
            console.log($(this).attr('href')); 
            window.location.href = $(this).attr('href');
         });
         
        $('.list > li a').click(function () {
            $(this).parent().find('ul').eq(0).slideToggle('slow');

            if ($('#' + $(this).attr('id') + " span.active").css('display') == 'inline-block') {
                $('#' + $(this).attr('id') + " span.active").css('display', 'none');
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'inline-block');
            } else {
                $('#' + $(this).attr('id') + " span.pasive").css('display', 'none');
                $('#' + $(this).attr('id') + " span.active").css('display', 'inline-block');
            }
        });

        {#$('.share-content').each(function( index ) {
                var dir = $( this ).attr('data');
                if(dir != ''){
                    //var url = dir.replace("http://", "");
                    var self = $(this);
                    $.ajax({
                        type: 'GET',
                        url: "/blog/share-counter?url="+dir
                        //data: {'url': url}
                    }).done(function(result) {
                        //console.log(result);
                        //console.log(self.find('.tweet-counter>span.share-container-counter').html());
                        self.find('.tweet-counter span.share-container-counter').text(result.tweet);
                        self.find('.facebook-counter span.share-container-counter').text(result.facebook);
                        self.find('.google-counter span.share-container-counter').text(result.google);
                        self.find('.linked-counter span.share-container-counter').text(result.linkedin);
                    });
                }
              });#}
                  $("#comments").on("click", "div.postNav a", function () {
                      $("#comments").html("Cagando comentarios...");
                      $.get($(this).attr("href"), function (data) {
                          $('#comments').html(data);
                      });
                      return false;
                  });
    </script>
{% endblock %}
