{% extends core['extended_layout'] ? core['extended_layout'] : 'CoreBundle:Base:base.layout.html.twig' %}


{% block body_class %}{{parent()}} blog {% endblock %}
{% block container_header %}
    {% include 'FrontBundle:Shared:header.html.twig' %}
    
    
    {% block blog_menu %}
        {% include 'FrontBundle:Shared:menu.blog.html.twig' %}
    {% endblock %}
    
     
    <div class="container" style="width: 1050px;margin-top: 30px">
        <div class="row core-row" >
           {% block breadcrumb %}
               <div class="col-md-12 col-xs-12">
                   <ol class="breadcrumb">
                       <li ><a href="/">Inicio</a></li>
                       <li><a href="{{ path('blog_index') }}">{{ 'blog.singular' | trans | upper}}</a></li>
                       <li><a href="{{ path('blog_blog_tag', {'tag': tag.slug }) }}">{{ tag.name | upper}}</a></li>
                   </ol>
               </div>
           {% endblock %}
       </div>
   </div> 

    <div class="container" style="width: 1020px">
        {% include 'FrontBundle:Shared:carousel.blog.html.twig' with { 'category' : tag}%}
    </div>
    
    
{% endblock %}

{% block container_content %}
    <div class="container-content">
      <div class="container" style="width: 1020px">
        <div class="row core-row">
          <div id="mainContent" class="col-md-8">
            <div class="row post-list" id="post-list">
                <script> position = 0; </script> 
               {% for post in posts %}
               <script> position = position + 1; </script> 
                <div class="col-md-6 col-xs-12" data-position="{{loop.index}}">
                    <article>
                        <div class="post-content list">
                            {% if post.images|length > 0 %}
                                {% set path = get_thumb_image(post.images.first.path, '260') %}
                            {% else %}
                                {% set path = '/bundles/admin/img/default-no-image.png' %}
                            {% endif %}
                            <a  href="{{path("blog_blog_show", {slug: post.slug})}}" >
                                <img style="width: 100%" src="{{ path }}" />
                                <p>{{ post.title }}</p>
                            </a>
                        </div>
                    </article>
                </div>
                {% if loop.index % 2 == 0%}<div style="clear: both; padding: 0"> </div> {% endif %}
                {% endfor %}
            </div>
            {% if total_items is defined and posts|length >  1 %}
                <div class="row post-list">
                    <div class="col-md-12 col-sm-12 col-xs-12 more-post">
                        <div class="loading" style="display: none;">Cargando...<br></div>
                        <div class="view-more" >
                            <button style="background-color: transparent" id="load-more"><a >VER MÁS POST</a></button>
                        </div>
                    </div> 
                </div>
            {% endif %}
        </div>
        <div id="sidebarContent" class="col-md-4 post-sidebar">
            {% include 'BlogBundle:Blog:sidebar.html.twig'%}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
   
    

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
        {% if total_items is defined %}
            
         $(".blog-menu a.item").click(function (event) {   
            console.log($(this).attr('href')); 
            window.location.href = $(this).attr('href');
         });
            
        $("#load-more").click(function (event) {
            event.preventDefault();
            var total_items = parseInt({{ total_items }});

            console.log(position, total_items);
            $('.loading').show();

            $.ajax({
                method: "POST",
                url: "{{path('blog_index')}}",
                data: {
                    offset: position,
                    limit: 2
                }

            }).done(function (data) {
                console.log(data);
                $('#post-list').append(data);
                $('#post-list').append('<div style="clear: both; padding: 0"> </div>');
                $('.loading').hide();
                //$('html, body').scrollTop($(document).height());
                $("#load-more a").blur();
                //check if there are more news, if not, hide ver mas noticias
                position = position + 2;
                if (total_items === position) {
                    $(".view-more").hide();
                }
            }).fail(function () {
                $('.loading').hide();
                alert('Problem!');
            });
        });
        {% endif %}
         
        $('.list > li a').click(function() {
            $(this).parent().find('ul').eq(0).toggle();

            if ($('#'+$(this).attr('id')+ " span.active").css('display') == 'inline-block'){
                $('#'+$(this).attr('id')+ " span.active").css('display', 'none');
                $('#'+$(this).attr('id')+ " span.pasive").css('display','inline-block');
            }else{
                $('#'+$(this).attr('id')+ " span.pasive").css('display', 'none');
                $('#'+$(this).attr('id')+ " span.active").css('display','inline-block');
            }
        });
        
        $('.share-content').each(function( index ) {
            var dir = $( this ).attr('data');
            if(dir != ''){
                //var url = dir.replace("http://", "");
                var self = $(this);
                $.ajax({
                    type: 'GET',
                    url: "/blog/share-counter?url="+dir
                    //data: {'url': url}
                }).done(function(result) {
                    //console.log(result);
                    //console.log(self.find('.tweet-counter>span.share-container-counter').html());
                    self.find('.tweet-counter span.share-container-counter').text(result.tweet);
                    self.find('.facebook-counter span.share-container-counter').text(result.facebook);
                    self.find('.google-counter span.share-container-counter').text(result.google);
                    self.find('.linked-counter span.share-container-counter').text(result.linkedin);
                });
            }
          });
    </script>
{% endblock %}




