<article data-position="{{position}}">    
    
    {% set path = '' %}
    {% if post.images|length > 0 %}
        {% set path = '/uploads/images/post/'~post.id~'/'~post.images.first.path %}
    {% endif %}
    
    <div class="post-content">
        <h2><a  href="{{path("blog_blog_show", {slug: post.slug})}}">{{ post.title }}</a></h2>
        {% set width = '' %}
        {% if path != ''%}
            <img src="{{ get_thumb_image(path, '142')}}" class="img-responsive">
            {% set width = 'adaptative' %}
        {% endif%}
        <div class="post-description {{ width }}" >
            {{ post.shortDescription | raw }}
        </div>
        <div class="text-right">
            {% for category in post.categories %}
                {% if loop.first %}<div class="categories pull-left"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;{% endif%}
                <a href="{{ path('blog_blog_category', {'category': category.slug }) }}">{{ category.name }} ({{ category.posts | length }})</a>
                {% if loop.last %}</div>{% endif%}
            {% endfor %}&nbsp;&nbsp;
            <a class="pull-right" href="{{path("blog_blog_show", {slug: post.slug})}}"> {{ 'blog.more' | trans }}</a>
        </div>
    </div>
</article>