<!-- Tags -->
<div class="panel panel-primary tags">
    <div class="panel-heading">
        <h4>{{ 'blog.tags' | trans | upper}}</h4>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            {% for tag in get_tags() %}
                <li>
                    <a href="{{ path('blog_blog_tag', {'tag': tag.slug }) }}">
                        <i class="ion-ios-arrow-right"></i> {{ tag.name }}({{ tag.posts | length }})
                    </a>
                </li>
            {% else %}
                <div class="text-center">{{ 'blog.no.entry' | trans }}</div>
            {% endfor %}  
        </ul>
    </div>
</div>
