<div id="menu-blog"> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% set count = 8%}
                {% for cat in get_blog_categories() %}
                    {% if loop.index < count %}
                        {% if cat.subcategories | length > 0 %}
                            <li class="dropdown {% if category is defined and category.slug ==  cat.slug%}active{% endif %}">  
                                <a href="{{ path('blog_blog_category', {'category': cat.slug }) }}">{{ cat.name }}({{ cat.posts | length }})</a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for sub in cat.subCategories %}
                                    <li>
                                        <a href="{{ path('blog_blog_category', {'category': sub.slug }) }}">
                                            {{ sub.name }}({{ sub.posts | length }})
                                        </a>
                                    </li>
                                    {% endfor %}  
                                </ul>
                            </li>
                        {% else %}

                            <li class="{% if category is defined and category.slug ==  cat.slug%}active{% endif %}">
                                <a href="{{ path('blog_blog_category', {'category': cat.slug }) }}">{{ cat.name }}({{ cat.posts | length }})</a>
                            </li>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>